<div>
    <h1>Hola</h1>
    <form action="/user" method="post">
        <input type="text" name="nombre" id="nombre" placeholder="Ingrese el nombre">
        <input type="text" name="correo" id="apellido" placeholder="Ingrese el apellido">
        <input type="password" name="password" id="password" placeholder="Ingrese el password">
        <button>Enviar!</button>
    </form>
</div>