<header>
    <nav>
        {{#if showLogin}}
        <a href="/views/session/login">Login</a>
        <a href="/views/session/register">Registrar</a>
        <a href="/views/session/restorepass">Restaurar contraseña</a>
        {{else}}
        <a href="/views/session/perfil">Mi Perfil</a>
        <a href="/views/session/logout">Cerrar sesión</a>
        {{/if}}
    </nav>
</header>